*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    padding: 0 5%;
    background-image: linear-gradient(to right, #667eea, #764ba2);
    font-family: 'Poppins', sans-serif;
    
}

header{
    background-image: linear-gradient(to right, #667eea, #764ba2);
    width: 100%;
}
.logo{
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

.nav-menu li{
    list-style: none;
}
 .nav-item a{
    color: white;
    font-size: 18px;
    transition: all .55s ease;
    
}
.nav-item a:hover{
    color: crimson;
}


.navbar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;

}
.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.nav-link{
    transition: 0.3s;
}
.nav-link:hover{
    color: blue;
}

.hambuger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:  rgb(0, 0, 0);

}

section{
    width: 100%;
    min-height: 60vh;
    padding: 0 2%;
    color: white;
    display: flex;

    flex-direction: row;   
}

.main-text{
    width: 55%;
    margin: 15px 0;
    min-height: 30vh;
    
}
 h3{
    font-size: 24px;
    font-weight: 700;

}

.main-text p{

    margin: 15px 0;
    font-size: 18px;
}
.days{
    text-decoration: underline;
    transition: 1s ease-in-out;
    cursor: pointer;
    color: rgb(248, 167, 109);
    border: 1px solid silver;
    font-weight: 700;
    
}
.days:hover{
    letter-spacing: 30px;
    color: crimson;
    text-decoration: none;
    border: 1px solid silver;
    padding: 2%;
}

.main-img{
    width: 30%;
    height: 51vh;
    
    margin: 3% 8%;
}

.harold{
   width: 100%;
    height: 56vh;
    border: 1px solid silver;
    border-radius: 15px;
}
.Projects{
    width: 100%;
    color: white;
    padding: 0 2%;   
    line-height: 30px; 
    height: 65vh;
}

.Projects ul{
    padding: 0 2%;
}


.Projects a{
    color: white;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    transition: all .55s ease;
    
}

.Projects a:hover{
    color: crimson;
    transform: translateX(8px);
}

.skills{

    margin-top: 20px;
    width: 100%;
    height: 15vh;
   
}
.skills h3{
    margin-bottom: 10px;
}

.icons{
    font-size: 50px;
    color: rgb(241, 241, 241);
    transition: all 1s ease;
    display: inline-block;
}

.icons:hover{
    color: rgb(211, 33, 68);
    letter-spacing: 20px;
}
.contact-info a{
    font-size: 50px;
}

.contact-info{
    margin-top: 2%;
}
.contact-info p{
    margin-bottom: 1%;
}
footer{
    padding: 0 2%;
    width: 100%;
    text-align: center;
}




@media(max-width: 768px){
    body{
        padding: 0;
    }
    header{
        position: fixed;
    }
    .hambuger{
        display: block;
    }
    .hambuger .active .bar:nth-child(2){
        opacity: 0;
    }

    .hambuger .active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hambuger .active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        display: flex;
        flex-direction: column;
        gap: 0;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        background-image: linear-gradient(to right, #667eea, #764ba2);

    }

    .nav-item{
        margin: 16px 0;
    }

    .nav-item a {
        font-size: 30px;
        
    }

    .nav-menu.active{
        right: 0;
    }

    .navbar{
        border-bottom: 1px solid ;
    }
    section{
        display: flex;
        flex-direction: column;
        padding: 0 2%;
    }
    .main-text{
        width: 100%;
        margin-top: 25%;
    }
    .main-img{
        width: 100%;
        margin-left: 0;
        height: 57vh;
    }
    .harold{
        border: 1px solid silver;
    }
    .Projects h3{
        text-align: center;
    }
    .Projects ul{
       list-style: none;
       text-align: center; 
    }
    .skills i{
        margin: 5px;

    }

    .Projects{
        height: 65vh;
       /* border: 1px solid black;*/
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px){
    section{
        display: flex;
        flex-direction: column;
    }
    .main-text{
        width: 100%;
        height: 75vh;
    }
    .main-text h3{
        font-size: 50px;
    }
    .main-text p{
        font-size: 28px;
        font-weight: 500;
    }
    .main-img{
        width: 100%;
        margin-left: 0;
        height: 57vh;
        object-fit: cover;
    }
    .harold{
        border: 1px solid silver;
    }

    .Projects{
   
     height: 65vh;
    }

    .Projects h3{
        text-align: center;
        font-size: 80px;
        margin-bottom: 5%;
    }
    .Projects ul{
       list-style: none;
       text-align: center; 
    }
    .Projects li a{
        font-size: 50px;
        margin-bottom: 5%;
        line-height: 50px;
    }

     .icons{
        text-align: center;

        width: 100%;
        font-size: 60px;
    }
    .contact-info{
        width: 100%;
        height: 20vh;
        margin-top: 2vh;
    }
    .contact-info p{
        font-size: 30px;
        line-height: 70px;
    }
}

@media only screen and (min-width:1000px) and (max-width: 1025px){
    .Projects{
        height: 120vh;
        margin-top: 22%;
       /* border: 1px solid rgb(255, 0, 0);*/
    }
    .main-text{
       /* border:  1px solid black;*/
        height: 125vh;
    }
    .main-img .harold{
        width: 100%;
        height: 80vh;
       /* border:  1px solid rgb(15, 14, 14);*/
    }

    .Projects h3{
        text-align: center;
        font-size: 50px;
        margin-bottom: 5%;
    }
    .Projects ul{
       list-style: none;
       text-align: center; 
    }
    .Projects li a{
        font-size: 30px;
        margin-bottom: 3%;
        line-height: 30px;
    }

     .icons{
        text-align: center;
        width: 100%;
        font-size: 60px;
    }
}

@media only screen and (min-width:600px) and (max-width: 920px) and (orientation: landscape){
    .Projects{
      /*  border: 1px solid rgb(0, 255, 55);*/
        height: 190vh;
    }
    .Projects h3{
        font-size: 30px;
    }
    .Projects li a{
        font-size: 20px;
    }

    .main-img{
        height: 120vh;
        height: 90vh;
    }

    .main-img .harold{
        width: 100%;
        height: 90vh;
       /* border:  1px solid rgb(15, 14, 14);*/
    }

    .main-text{
       /* border: 1px solid rgb(0, 255, 55);*/
        height: 170vh;
    }
    .main-text h3{ 
        font-size: 30px;
    }
    .main-text p{
        font-size: 20px;
    }



}   

@media only screen and (min-width: 2100px) and (max-width: 2600px) and (orientation: landscape){
    .logo{
        font-size: 80px;
    }
    .navbar a{
        font-size: 50px;
        font-weight: 500;
    }
    

    h3{
        font-size: 70px;
    }

    .main-text p{
        font-size: 40px;
    }

    .main-text{

        height: 70vh
    }

    .main-img{
  
        height: 55vh;
        width: 55%;
        margin-right: 0;
    
    }

    .Projects{
        height: 65vh;

        text-align: center;
    }
    .Projects ul{
   
        list-style: none;
        height: 15vh;
        margin-top: 20px;
        line-height: 70px;
    }
    .Projects li a{
        font-size: 60px;
    }
    .Projects h3{
        font-size: 100px;
        margin: 50px ;

    }
    .skills .icons{
     
        width: 100%;
        font-size: 100px;
        height: 7vh;
    }

    .skills a{
        font-size: 100px;
        margin: 10px;
    }

    .contact-info p{
        font-size: 50px;
  
        height: 5vh;
        

    }
}

